/* Coolors Exported Palette - coolors.co/bebbbb-444054-2f243a-fac9b8-db8a74 */

/* HSL */
$color1: hsla(0%, 2%, 74%, 1);
$color2: hsla(252%, 14%, 29%, 1);
$color3: hsla(270%, 23%, 18%, 1);
$color4: hsla(15%, 87%, 85%, 1);
$color5: hsla(13%, 59%, 66%, 1);

/* RGB */
$color1: rgba(190, 187, 187, 1);
$color2: rgba(68, 64, 84, 1);
$color3: rgba(47, 36, 58, 1);
$color4: rgba(250, 201, 184, 1);
$color5: rgba(219, 138, 116, 1);