<!-- Template: Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md col-sm-12 columna1 colFooter">
                <p>Tel.: 095683920<br>Dir.: Cerca del Hospital de Clinicas</p>
            </div>
            <div class=" offset-lg-1 col-lg-3 col-md col-sm-12 columna2 colFooter">
                <p>©Kalma - Todos los derechos reservados</p>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md col-sm-3 columna3 colFooter">
                <a href=""><i class="fab fa-facebook-square fa-3x"></i></a>
                <a href=""><i class="fab fa-instagram fa-3x"></i></a>
            </div>
        </div>
    </div>
</footer>