/* NAV */
.background-nav{
	background: rgba(219,138,116,1);
	background: -moz-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,138,116,1)), color-stop(100%, rgba(214,115,90,1)));
	background: -webkit-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -o-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: linear-gradient(to right, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db8a74', endColorstr='#d6735a', GradientType=1 );
}

.titleHeader{
	color: #3e1cc7;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	font-family: 'Pacifico', cursive;
	font-size: 23px;
}

.navbar-light{
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-size: 19px;
}

.navbar{
	border-bottom: 2px #ff8e6f solid;
}

.navbar .dropdown .dropdown-menu{
	background-color: #de927e;
}

.navbar .dropdown .dropdown-menu a{
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Rubik', sans-serif;
}

.dropdown-item:hover{
	background-color: black;
}

/* /NAV */

/* TITULO */
#sectionTitulo .carousel-inner img{
	height:80vh;
	object-fit: cover;
	filter: blur(60%);
}

#carousel{
	position: relative;
}

#carousel .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
}

#sectionTitulo{
	border-bottom: 2px rgba(30, 11, 134, 0.64) solid;
}

#sectionTitulo .container,
#sectionTitulo .row {
	height: 100%;
}

#titulo{
	font-size: 160px;
	color: white;
	font-family: 'Pacifico', cursive;
}

#subTitulo{
	font-size: 80px;
	color: white;
	font-family: 'Pacifico', cursive;
}
/* /TITULO */

/* GRID PRINCIPAL*/

#gridInfo h4{
	text-align: center;
}

#gridInfo{
	margin-bottom: 15px;
}

.boxInfo{
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	background-color: #ffd0c2f0;
	margin-top: 20px;
}

p{
	color: black;
	font-family: arial;
	padding-top: 15px;
}
/* /GRID PRINCIPAL*/

.phone-icon{
	color: red;
	font-size: 70px;
}

.containerMain{
	background: rgba(255,167,138,1);
	background: -moz-linear-gradient(-45deg, rgba(255,167,138,1) 0%, rgba(252,196,179,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,167,138,1)), color-stop(100%, rgba(252,196,179,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,167,138,1) 0%, rgba(252,196,179,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,167,138,1) 0%, rgba(252,196,179,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,167,138,1) 0%, rgba(252,196,179,1) 100%);
	background: linear-gradient(135deg, rgba(255,167,138,1) 0%, rgba(252,196,179,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa78a', endColorstr='#fcc4b3', GradientType=1 );
}



/* FOOTER*/
.footer{
	background: rgba(219,138,116,1);
	background: -moz-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,138,116,1)), color-stop(100%, rgba(214,115,90,1)));
	background: -webkit-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -o-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	background: linear-gradient(to right, rgba(219,138,116,1) 0%, rgba(214,115,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db8a74', endColorstr='#d6735a', GradientType=1 );
	border-top: 2px #ff8e6f solid;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer p{
	color: rgba(0, 0, 0, 0.7);
	font-family: 'Rubik', sans-serif;
}

.footer .col-lg-3,
.footer .col-md{
	display: flex;
	align-items: center;
}
.footer .row .columna2 p{
	text-align: center;
}

.columna1,
.columna2,
.columna3{
	justify-content: center;
}

.columna3 .fa-facebook-square{
	padding-right: 25px;
}

.footer .row i{
	justify-content: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

.footer .row i:hover {
	color: rgba(255,167,138,1);
}

/* /FOOTER*/

@media screen and (max-width: 320px){
	.phone-icon{
		font-size: 60px;
	}
}

@media screen and (max-width: 992px){
	#titulo{
		font-size: 140px;
	}

	#subTitulo{
		font-size: 60px;
	}

	.container-fluid{
		margin: 0;
	}

	.boxInfo{
		border-radius: 0;
		margin: 0;
	}

	#gridInfo{
		margin-bottom: 0;
	}

	.navbar a{
		text-align: center;
	}
}

@media screen and (max-width: 768px){
	#titulo{
		font-size: 140px;
	}

	#subTitulo{
		font-size: 45px;
	}

	.footer p{
		text-align: center;
	}

	.footer .columna3{
		justify-content: center;
	}

	.footer .row i{
		margin-left: 0px;
	}
}

@media screen and (max-width: 576){
	#titulo{
		font-size: 110px;
	}

	#subTitulo{
		font-size: 40px;
	}
}
