@import 'variables';

/* NAVBAR */
.navbar{

    a{
        text-align: center;
    }
}

/* TITLE */
#titleSection{
	#carousel{
		.carousel-inner{
			.overlay{
				.container{
					.row{
						.col{
							#titulo{
								font-size: 140px;
							}
	
							#subTitulo{
								font-size: 60px;
                            }
						}
						#auxServ{

							#titulo{
								font-size: 120px;
							}
						}
                    }
                }
            }
        }
    }
}          
/* CONTENT */
#gridInfo{
	margin: 0;

	.row{
        flex-direction: row;

        .boxMenu{
			width: 25%;
            max-width: 25%;

            ul{
                padding: 0;
            }
        }
        
        .contentInfo{
			width: 75%;
            max-width: 75%;
            margin-top: 20px;

            .boxInfo{
                padding: 15px 30px;
				margin-top: 20px;
                margin-bottom: 10px;
            }    
        }    
    }
}    

.form{
	.row{
        div{
            padding: 30px;

            h2{
                font-size: 40px;
            }
        }
        section{
            min-height: 60%;
        }
    }
}        

/* FOOTER */
.footer{
    margin-top: 0px;
    p{
		text-align: center;
    }
    
    i{
		margin-left: 0px;
    }
    
    .columna3{
		justify-content: center;
	}
}