@import 'variables';

html{
	scroll-behavior: smooth;
}

/* NAV */
.navbar{
	border-bottom: 2px $primary-color-detail solid;

	&.navbar-light{
		text-decoration: none;
		font-family: 'Rubik', sans-serif;
		font-size: 19px;
	}

	&.background-nav{
		background: $primary-color;
	}

	a{
		.titleHeader{
			color: $secondary-color;
			text-shadow: 1px 1px 3px secondary-color-detail;
			font-family: 'Pacifico', cursive;
			font-size: 23px;
		}
	}

	.collapse{
		justify-content: flex-end;

		ul{
			li{
				a{
					color: $secondary-color !important;

					.nav-link{
						&:hover{
							background-color: #ef8d72;
							border-radius: 4px;
						}
					}
				}
			}
			.dropdown{

				.dropdown-menu{
					background-color: $primary-color-detail;

					.dropdown-item{
						color: $secondary-color;
						font-family: 'Rubik', sans-serif;

						&:hover{
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}
}
/* /NAV */

/* TITLE */
#titleSection{
	border-bottom: 2px $primary-color-detail solid;

	#carousel{
		position: relative;

		.carousel-inner{
			.carousel-item{
			
				img{
					height:92vh;
					object-fit: cover;
					filter: blur(60%);
				}
			}

			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(13, 44, 107, 0.3);
				height: 100%;

				.container{
					height: 100%;

					.row{
						height: 100%;
	
						.col{
	
							#titulo{
								font-size: 160px;
								color: $secondary-color;
								font-family: 'Pacifico', cursive;
								text-shadow: 2px 2px 8px $primary-color;
							}
	
							#subTitulo{
								font-size: 80px;
								color: $secondary-color;
								font-family: 'Pacifico', cursive;
								text-shadow: 2px 2px 8px $primary-color;
							}
						}
					}
				}
			}
		}
	}
}
/* /TITLE */

/* CONTENT*/
#gridInfo{
	margin-bottom: 15px;

	.row{

		.boxMenu{
			margin-top: 20px;
			color:  $secondary-color;

			.row{
				padding: 1em;
				background-color: $primary-color;
				margin-left: 0;

				h4{
			 		text-align: center;
					font-family: 'Lobster', cursive;
				}

				ul{
					font-family: 'Josefin Sans', sans-serif;
					font-size: 15px;
					text-align: left;
					margin: 0;
					margin-top: 2em;
					list-style-type: none;

					li{
						margin-bottom: 1.5em;

						a{
							color:  $secondary-color;

						}
					}
				}
			}
		}

		.boxInfo{
			padding: 5px;
			margin-top: 20px;

			h4{
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
			}

			p{
				color: black;
				line-height: 2;
				font-family: 'Roboto', sans-serif;
				padding-top: 15px;
			}
		}
	}
}
/* /CONTENT*/

/* FOOTER*/
.footer{
	padding: 0.5em 0;
	background: $primary-color;
	border-top: 2px $primary-color-detail solid;
	margin-top: 50px;

	.row{

		.colFooter{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: auto;

			p{
				color: $secondary-color;
				font-family: 'Roboto', sans-serif;
				margin: 0.5rem 0;
			}

			.fa-facebook-square{
				padding-right: 25px;
			}

			i{
				justify-content: center;
				text-decoration: none;
				color: $secondary-color;

				&:hover{
					color: $secondary-color-detail;
				}
			}
		}

		.columna2{

			p{
				text-align: center;
			}
		}
	}
}
/* /FOOTER*/